*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* font-family: 'Courier New', Courier, monospace; */
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
#above-fold{
    background-image: url("../images/bluebg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* background-size:contain; */
}
#top-nav{
    text-align: center;
}
#top-nav ul{
    display: inline;
    text-align: center;
}
#top-nav ul li{
    display: inline-block;
    margin: 20px;
}
#top-nav ul li a{
    color: white;
    font-size: 1.1em;
}
#top-nav ul li a.active{
    color: orange;
}
#about{
    position: relative;
    padding: 20px 50px;
}
#text{
    margin-top: 150px;
}
#text span{
    color: orange;
}
.btn{
    border: 1px solid rgb(136, 88, 0);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: orange;
    display: inline-block;
    color: black;
    font-size: 1.3em;
    cursor: pointer;
}
#avatar img{
    position: absolute;
    right: 200px;
    bottom: 0;
    height: 300px;
    width: 300px;
}
#experience{
    background-color: #eee;
    color: #122864;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 80px;
    bottom: 200px;
}
#experience p{
    display: inline-block;
}
#experience p:first-child{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 5px;

}
#experience span{
    display: block;
}
#experience span:first-child{
    font-weight: 800;
}
section{
    padding: 50px 200px;
    text-align: center;
}
section h4, h2{
    margin-bottom: 10px;
}
#individual{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.service{
    background-color: #e3e3e3;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
}
.service:nth-child(2){
    background-color: #122864;
    color: white;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: #d1daf3;
    border-radius: 50%;
    margin: 0 auto;
}
.service h4{
    margin: 10px 0;
    font-weight: 550;
}